// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


#app .hideSidebar .submenu-title-noDropdown {
  padding: 0 !important;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}

